<!-- ========== FOOTER SECTION ========== -->
<section id="contact" name="contact"></section>
<div id="f">
  <div class="container">
    <div class="row">
      <h3><b>Created and maintained by</b></h3>
      <br>

      <div class="col-lg-12">
        {% for member in site.data.contributors %}
        <a href="https://github.com/{{ member.github }}">
          <h4>{{ member.name }}</h4>
        </a>
        {% endfor %}

        <a href="https://github.com/webreattivo/remote-work-the-right-way/graphs/contributors">
          <h4>Project Contributors</h4>
        </a>

      </div>

    </div>
  </div><!-- /container -->
</div><!-- /f -->

<div id="c">
  <div class="container">
    <p>Created by <a href="http://www.webreattivo.com">Webreattivo</a></p>
  </div>
</div>

<script src="/js/classie.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/smoothscroll.js"></script>
<script src="/js/main.js"></script>
