<!-- ========== FOOTER SECTION ========== -->
<section id="contact" name="contact"></section>
<div id="f">
  <div class="container">
    <div class="row">
      <h3><b>Created and maintained by</b></h3>
      <br>
      <div class="col-lg-4">
        <h4>Name Surname</h4>
        <h4>Name Surname</h4>
        <h4>Name Surname</h4>
      </div>
      <div class="col-lg-4">
        <h4>Name Surname</h4>
        <h4>Name Surname</h4>
        <h4>Name Surname</h4>
      </div>
      <div class="col-lg-4">
        <h4>Name Surname</h4>
        <h4>Name Surname</h4>
        <h4>Name Surname</h4>
      </div>
    </div>
  </div><!-- /container -->
</div><!-- /f -->

<div id="c">
  <div class="container">
    <p>Created by <a href="http://www.webreattivo.com">Webreattivo</a></p>
  </div>
</div>

<script src="/js/classie.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/smoothscroll.js"></script>
<script src="/js/main.js"></script>
