<div id="itemwrap">
    <div class="container">
        <br>
        <h1>Remote Work</h1>
        <h2>The Right Way</h2>
        <div class="row">
            <br>
            <br>
            <br>

            <div class="col-lg-6 col-lg-offset-3">
            </div>
        </div>
    </div><!-- /container -->
</div><!-- /headerwrap -->

<div id="w">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>WELCOME TO REMOTE WORK THE RIGHT WAY<br/>
                    <span class="text-danger">The best practices</span>
                </h3>
            </div>
        </div>
    </div><!-- /container -->
</div><!-- /w -->