<!-- Menu -->
<nav class="menu" id="theMenu">
    <div class="menu-wrap">
        <h1 class="logo"><a href="index.html#home" class="logos">Remote Work</a></h1>
        <i class="icon-remove menu-close"></i>
        <a href="#category-1" class="smoothScroll main">Categoy One</a>
            <a href="#category-sub-1-1" class="smoothScroll sub">Sub One One</a>
            <a href="#category-sub-1-2" class="smoothScroll sub">Sub One Two</a>
        <a href="#category-2" class="smoothScroll main">Categoy Two</a>
        <a href="#category-3" class="smoothScroll main">Categoy Three</a>
        <a href="#category-4" class="smoothScroll main">Categoy Four</a>
        <a href="#" class="main"><i class="icon-facebook"></i></a>
        <a href="#" class="main"><i class="icon-twitter"></i></a>
    </div>

    <!-- Menu button -->
    <div id="menuToggle"><i class="icon-reorder"></i></div>
</nav>