<!-- Menu -->
<nav class="menu" id="theMenu">
    <div class="menu-wrap">
        <h1 class="logo"><a href="index.html#home" class="logos">Remote Work</a></h1>
        <i class="icon-remove menu-close"></i>
        <a href="#welcome" class="smoothScroll main">Welcome</a>
            <a href="#how_to_contribute" class="smoothScroll sub">How to Contribute</a>
            <a href="#spread_the_word" class="smoothScroll sub">Spread the Word!</a>
            <a href="#what_is_the_remote_work" class="smoothScroll sub">What is the remote work ?</a>
            <a href="#what_are_profiles_of_remote_work" class="smoothScroll sub">What are profiles of remote work ?</a>
            <a href="#famous_references" class="smoothScroll sub">Famous References</a>
        <a href="#pro_and_cons" class="smoothScroll main">Pro and cons</a>
            <a href="#for_companies" class="smoothScroll sub">For companies</a>
            <a href="#for_workers" class="smoothScroll sub">For workers</a>
        <a href="#communication" class="smoothScroll main">Communication</a>
            <a href="#working-asynchronously" class="smoothScroll sub">Working-asynchronously</a>
            <a href="#tools" class="smoothScroll sub">Tools</a>
        <a href="#remote_companies" class="smoothScroll main">Remote companies</a>
        <a href="#marketplaces" class="smoothScroll main">Marketplaces</a>


        <a href="#" class="main"><i class="icon-facebook"></i></a>
        <a href="#" class="main"><i class="icon-twitter"></i></a>
    </div>

    <!-- Menu button -->
    <div id="menuToggle"><i class="icon-reorder"></i></div>
</nav>